.button-container {
    max-width: 322px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container > section {
    align-items: center;
    display: flex;
    /*flex: 1 1 0;*/
    flex-direction: column;
    text-align: center;
    /*max-width: 400px;*/
    flex-grow: 1;
    width: 33%;
}

.container > section > p {
    flex-grow: 1;
}

/* This rule ist just because of the responsive images */
@media (max-width: 1600px) {
    .container > section {
        max-width: 250px;
    }
}

.container ul {
    display: flex;
    justify-content: space-between;
}

.container aside {
    width: 100%;
}

img {
    width: 400px;
    border-radius: 2px;
}

@media (max-width: 1600px) {
    img {
        width: 250px;
    }
}

.container > section {
    background: #fff;
    padding: 1em;
    margin: 0.5em;
    border-radius: 4px;
    border: 1px solid;
    margin-top: 20px;
}

button {
    background: #F1C639;
    border: 1px solid #F1C639;
}

.weather-button {
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: .4rem;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button {
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    padding: 1em 2em;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.button:hover {
    background-color: #006B6B;
    background-size: 3em;
    background-position: 1.5em 50%;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    background: #2f2e2e;
    font-weight: 100;
    padding: 0.3em 0.6em;
    font-size: 14px;
    margin-right: 5px;
    color: #FFFFFF;
}

.container li:last-child{
    margin-right: 0;
}


.container li span{
    color: #F1C639;
    font-size: 18px;
    display: inline-block;
}

.date-heading{
    font-weight: 100;
    font-size: 14px;
    border-bottom: 1px solid;
    padding-bottom: .2rem;
}


/*.App {*/
/*text-align: center;*/
/*}*/

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 40vmin;*/
/*pointer-events: none;*/
/*}*/

/*.App-header {*/
/*background-color: #282c34;*/
/*min-height: 100vh;*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: center;*/
/*justify-content: center;*/
/*font-size: calc(10px + 2vmin);*/
/*color: white;*/
/*}*/

/*.App-link {*/
/*color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*from {*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/
